:root {
	--background: #ffffff;
	--text: #000000;
	--text-light: #888888;
}
* {
	outline: 0;
}
html {
	-webkit-overflow-scrolling: touch;
}
body {
	background: var(--background);
	color: var(--text);
	margin: 0;
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";

	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
a,
a:hover,
a:visited {
	color: #2980b9;
	text-decoration: none;
	text-decoration: underline;
}
a[target="_blank"]:after {
	content: "↑";
	display: inline-block;
	transform: rotate(45deg);
}
main {
	width: 100%;
	max-width: 520px;
	padding: 2rem;
	box-sizing: border-box;
	margin: 4rem auto 1rem;
	font-size: 1.2rem;
}
section a {
	font-weight: bold;
}
footer {
	font-size: 1rem;
}
.colored {
	background: none;
	background-clip: border-box;
	-webkit-text-fill-color: currentcolor;
}
.colored:hover {
	background: linear-gradient(to right, #6549d5, #f27121);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
