@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oleo+Script&display=swap');

body {
	font-family: 'Noto Serif', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	margin: 0px;
	background-color: #fff;
	color: #222;
	font-size: 2rem;
	line-height: 1.8;
}

a {
	color: inherit;
}

a:hover {
	color: #555;
}

a.coefficient:hover {
	color: #0054e6;
}

a.twitter:hover {
	color: #1ca2f3;
}

a.producthunt:hover {
	color: #da542e;
}

a.github:hover {
	color: #171515;
}

a.telegram:hover {
	color: #199cdf;
}

a.linkedin:hover {
	color: #0178b5;
}
a.jsonbox:hover {
	color: #BE8549;
}
a.talk:hover {
	color: #6669C4;
}
a.unapp:hover {
	color: #333333;
}
a.looptap:hover {
	color: #ED5566;
}
a.whistly:hover {
	color: #3498db;
}
a.notedown:hover {
	color: #9b59b6;
}

#content {
	width: 100%;
	max-width: 768px;
	margin: 5rem auto 2rem;
	position: relative;
	padding: 2rem;
	box-sizing: border-box;
}

#name {
	font-family: 'Oleo Script', cursive;
	font-size: 120%;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
		color: #ddd;
	}

}
