@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

html {
  font-size: 1.1rem;
}

body {
  font-family: "Roboto Serif", serif;
  max-width: 720px;
  margin: 2rem auto;
  padding: 0 1rem;
  line-height: 1.7;
  transition: background 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
a {
  color: #1d64f3;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav span {
  margin: auto 0.5rem;
}
footer {
  margin-top: 5rem;
  text-align: center;
}
blockquote {
  opacity: 0.7;
  border-left: 0.2rem solid #000;
  margin: 0px;
}
blockquote p {
  padding: 0.5rem 1rem;
}
