html {
  font-size: 1.1rem;
}

body {
  font-family: system-ui, sans-serif;
  max-width: 720px;
  margin: 2rem auto;
  padding: 0 1rem;
  line-height: 1.7;
  transition: background 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
a {
  color: #1d64f3;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav span {
  margin: auto 0.5rem;
}
footer {
  margin-top: 5rem;
  text-align: center;
}
blockquote {
  opacity: 0.7;
  border-left: 0.2rem solid #000;
  margin: 0px;
}
blockquote p {
  padding: 0.5rem 1rem;
}

ul#list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul#list li {
  display: flex;
}
ul#list li:hover,
ul#list li:focus {
  text-decoration: underline;
}
ul#list li a {
  flex: 1;
}
ul#list li span {
  font-size: 0.8rem;
  font-family: monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
