@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

body {
  font-family: "Roboto Serif", serif;
  max-width: 720px;
  margin: 2rem auto;
  padding: 0 1rem;
  line-height: 1.5;
  transition: background 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

header nav a {
  text-decoration: none;
}
header nav a:hover {
  text-decoration: underline;
}
header nav span {
  margin: auto 0.5rem;
}

footer {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #666;
}
