@font-face {
  font-family: "Droid Serif";
  src: URL("./droid-serif-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Serif";
  src: URL("./droid-serif-italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Droid Serif";
  src: URL("./droid-serif-bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Droid Serif";
  src: URL("./droid-serif-bold-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

:root {
  --background: #ffffff;
  --background-light: #dfdfdf;
  --text: #111111;
  --text-light: #555555;
  --red: #c0392b;
  --green: #27ae60;
  --blue: #2980b9;
}

html {
  -webkit-overflow-scrolling: touch;
  font-size: 1.33rem;
}
body {
  background: var(--background);
  color: var(--text);
  margin: 0;
  font-family: "Droid Serif", system-ui, sans-serif;
  line-height: 1.67;
  transition: background 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
a,
a:focus,
a:active {
  color: #2a66c6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer{
  margin-top: 2.5rem!important;
}

.wrap {
  width: 100%;
  max-width: 720px;
  margin-inline: auto;
  padding: 0px 1rem;
  box-sizing: border-box;
}
.light {
  color: var(--text-light);
}
.small {
  font-size: 0.9rem;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.flex {
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}
.row {
  margin: 1rem 0px;
}
.spacer {
  height: 1rem;
}
article .title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0px;
}
article.item .title {
  font-size: 1.1rem;
}
article.item p {
  margin: 0px;
  padding: 0px;
}
article h2 {
  font-size: 1.5rem;
}
article h3 {
  font-size: 1.2rem;
}
article img {
  max-width: 100%;
}

#intro {
  margin: 4rem auto 2rem;
}
