<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    {{ page.title }} |
    {{ site.title }}
  </title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

  <header>
    <h1><a href="{{ '/' | relative_url }}">
        {{ site.title }}</a></h1>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/now/' | relative_url }}">Now</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>©
      {{ site.time | date: "%Y" }}
    </p>
  </footer>

</body>

</html>