<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    {{ site.title }} /
    {{ page.title }}
  </title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

  <header>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <span>&middot;</span>
      <a href="{{ '/now' | relative_url }}">Now</a>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>

  <footer>
    <nav>
      <a href="mailto:hi@vasanthv.me">Say Hi</a>
      <span>&middot;</span>
      <a href="{{ '/feed.xml' | relative_url }}">Feed</a>
    </nav>
  </footer>
</body>

</html>